*{
  margin: 0;
  padding: 0;
}

.App-logo {
  float: left;
  height: 100px;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}
h1
{
  text-align: center;
}
.name{
  margin-top: 130px;
  align-items: center;
  font-size: 20px;

}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

body {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}


.showbtn
{
  /* position: absolute; */
  float: right;

  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.menu
{
  float: right;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.menu:hover
{
  background-color: #f1f1f1;
}